html {
    font-family: 'Roboto', sans-serif;
}
html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-size: 13px;
    margin: 0px;
    background-color: #EEEEEE;
    height: 100%;
    margin: 0;
    padding: 0;
}
#root{
  height: 100%;
  background-color: #E0E0E0;
}
.top-dev{
  height: 100%;
}

.root-contaner {
    margin: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    background-color: green;

}

.left-navi {
    background-color: #4682B4;
    text-align: center;
    flex: 5%;
    margin: 0;
}

.root-header {}

.main-contaner {
    background-color: #E0E0E0;
    flex: 95%;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.news-card{
  width: 30%;
  margin: 20px;
}
